* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(54, 178, 197, 0.477);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(82, 83, 85);
  margin-top: 15px;
}

.choices {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.choice img {
  width: 300px;
  border-radius: 100px;
}

.result {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: rgb(59, 63, 63);
  margin-top: 50px;
}

.scores {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 50px;
  color: rgb(60, 62, 62);
  margin-top: 50px;
}

.score {
  border-radius: 5px;
  justify-content: space-between;
}

.btn {
  position: absolute;
  margin-left: 600px;
  margin-top: 50px;
  font-size: x-large;
  padding: 5px;
  color: rgb(253, 255, 254);
  background-color: rgb(59, 59, 57);
  border: none;
  border-radius: 5px;
}

.hidden {
  display: none;
}
